extends layout

block content
  h1.display-3 Basket
  br
  br
  br
  if !basket
    h1#emptyBasket Your basket is empty. Why?
    br
    br
    img.img-center(src='/img/consume.webp')
  else
    .container-fluid
      .row
        .col
          h1#basketH1 Items to buy:
          table.table#basketTable
            thead
              tr
                th Name
                th Category
                th Publisher
                th Price
                th Quantity
                th Delete Basket Item
            tbody.product-in-basket-to-order-table
              each item in basket
                tr.product-in-basket-to-order
                  td #{item.productName}
                  td #{item.productCategory}
                  td #{item.publisher}
                  td #{item.price}                
                  td #{item.basketQuantity}                
                  td 
                    button.btn-danger(onclick='onRemoveItemFromBasketHandler(' + item.prodID + ')' id="button"+item.prodID) Remove Item
      .row              
        .col
          h1#basketH1 Total value:  
          h2(id='sumOfBasket') #{sumOfBasketPrice} HUF
      .row              
        .col
          button#orderButton(onclick='orderButtonHandler(' + basket[0].basketID + '); redirectToMyOrders();' class='btn btn-secondary product-in-basket-to-order-button') Order
  script(src='/javascript/orderButtonHandler.js')
          
      
