extends layout

block content
  .row
    .col-10
      table.table.table-striped.text-white
        thead
          tr
            th Order date
            th Order status
            th Product name
            th Ordered quantity
            th Net price
        tbody
          each item in orders
           tr
             td #{item.orderDate}
             td #{item.orderStatus}
             td #{item.productName}
             td #{item.orderQuantity}
             td #{item.netPrice}
