extends layout

block content
  h1= title
  p Welcome to #{title}  

  p ID: #{product.id}
  p Product Name: #{product.productName}
  p SEO Friendly Name: #{product.seoFriendlyProductName}
  p Publisher: #{product.publisher}
  p Price: #{product.price}

  button(id='basketButton')  Kosárba

