extends layout

block content
  .container-fluid
    .row
      .col-lg-6#container-img
        - var picUrl = product.pictureURL
        img(src='/product-img'+picUrl alt='album_cover')
      .col-lg-6#container-proddata
        h1 #{product.productName}  
        br
        // p ID: #{product.id}
        p Category: #{product.productCategory}
        // p SEO Friendly Name: #{product.seoFriendlyProductName}
        p Publisher: #{product.publisher}
        p Price: #{product.price} HUF
        br
        br
        button(id='basketButton')  Add to cart

